name: Swift

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: macos-26

    steps:
    - uses: actions/checkout@v4
    
    - name: Build
      run: sh build.sh
      
    - name: Create DMG
      run: hdiutil create -volname "MetalSlide" -srcfolder MetalSlide.app -ov -format UDZO MetalSlide.dmg
    
    - name: Upload DMG
      uses: actions/upload-artifact@v4
      with:
        name: MetalSlide
        path: MetalSlide.dmg